.main .sidenav{
    display: flex;
    flex-direction: row;
}
.dashboard{
    padding: 15px 30px;
}
.dashboard .title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

button{
    background-color: #cbd9e3;
}